html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://v4.pingendo.com/assets/bootstrap/themes/default.css', rel='stylesheet', type='text/css')
  body
    .bg-danger.section.section-fill-height.text-warning.text-xs-center
      .container
        .row
          .col-md-12
            h1.display-1.pi-draggable.pi-item ERROR
            p.lead.m-y-1.pi-draggable.pi-item SOMETHING WENT TERRIFICALLY WRONG.
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript', src='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js')
