extends layout

block content
  h1= title
  p Welcome to #{title}
  p This webserver appears to be empty.
  p To customize it, write a jade file or convert HTML to jade
  p And restart the node application.


 p Developed by Voga Software
